.mainConatainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header{
  width: 100%;
  background-color:#000;
  height: 70px;
  display: flex;
  justify-content: center;
  position: fixed;
}
.headerContent{
  width: 660px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.contentContainer{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
  flex-direction: column;
}
.formaContainer{
  margin-top: 5rem;
}