.mainContainer{
  width: 660px ;
  display: flex;
  flex-direction: column;
  border: 1px solid #999999;
}
.header{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 0 2em;
  color: #fff;
}

.actionContainer{
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.title{
  font-weight: bold;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #777777;
}
